@import "tailwindcss";

@theme {
  --color-primary: #2563eb;
  --color-secondary: #475569;
  --color-success: #22c55e;
  --color-danger: #ef4444;
  --color-warning: #eab308;
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
  }
}

/* Hide annoying HTML5-QRCode error messages for failed frame scans */
#qr-reader span[style*="color: red"] {
  display: none !important;
}
